*{
	color: white;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	background-color: black;
	text-align: center;
}

h1 {
	font-weight: normal;
	font-size: 50px;
}

h2 {
	font-weight: 300;
	font-size: 42px;
}

a {
	color: Aquamarine;
	font-size: 16px;
}

p {
	font-size: 21px;
	color: gray;
}

.right {
	text-align: right;

}
